<div class="container navbar-wrapper">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Confidence<span class=logo-highlight>Games</span></a>
        </div>

        <div class="navbar-text navbar-text navbar-right small hidden-sm hidden-xs">Tabletop strategy games by <b><span class="logo-highlight">Andy Meneely</span></b></div>
        <div class="navbar-text navbar-right hidden-sm hidden-xs">&nbsp;</div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/news">News</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/playtest">Playtest</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/masters-of-the-heist"><img src="/img/moth-logo-small.png"> Masters of the Heist</a></li>
                <li><a href="/junk-land"><img src="/img/junkland-logo-small.png"> Junk Land</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
</div>