---
layout: base
---

<div id="gameCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">

	<ol class="carousel-indicators">
		<li data-target="#gameCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#gameCarousel" data-slide-to="1"></li>
		<li data-target="#gameCarousel" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">
		<div class="item active">
			<div class="showcase" style="background-image: url(img/jumbotron-moth.png);">
				<div class="container">
					<div class="carousel-caption">
						<p>Masters of the Heist</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="showcase" style="background-image: url(img/jumbotron-jl.png);">
				<div class="carousel-caption">
					<p>Junk Land</p>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="showcase" style="background-image: url(img/jumbotron-cg.png);">
				<div class="carousel-caption ">
					<p>Playtesters Needed</p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#gameCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#gameCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="container">
{{content}}

{%include footer.html %}

</div>